div {
    width: 110px;
    height: 110px;
    margin: 20px 0px 0px;
    border: 1px solid black;
    // display: flex;
    // justify-content: center;
    // align-items: center;
    overflow: hidden;

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    
}