<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons>
      <ion-menu-button></ion-menu-button>
      <ion-title>Galeria</ion-title>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Galeria</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="loading" *ngIf="isLoading">
    <img src="https://media.tenor.com/I6kN-6X7nhAAAAAi/loading-buffering.gif">
    <br />
    Cargando...
  </div>

  <div id="images-container" *ngIf="!isLoading">

    <app-gallery-image *ngFor="let image of images" [image]="image" />

  </div>

  <div id="btn">

    <ion-button (click)="takePicture()">subir imagen</ion-button>

  </div>
</ion-content>