<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons>
      <ion-menu-button></ion-menu-button>
      <ion-title>galeria</ion-title>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">galeria</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="images-container">
    <!-- <app-gallery-image image="https://yamaha.ndcdn.in/media/catalog/product/cache/9e0f31af0cdc06df956748b13dabad87/c/l/clp-765gppe_a_0001_2560_1.jpg"/> -->

      <app-gallery-image *ngFor="let image of images" [image]="image"/>

    <img id="xd">
  </div>
  <div id="btn">

    <ion-button (click)="takePicture()">subir imagen</ion-button>

  </div>
</ion-content>