<app-header title="Nivel" mode="menu"></app-header>

<ion-content [fullscreen]="true">


  <div id="container">
    <div id="display">
      <div id="circle">
        <div
          id="dot"
          [style.top.%]="calculateTopPosition(beta)"
          [style.left.%]="calculateLeftPosition(gamma)"
        ></div>
      </div>

      <div id="level">
        <div id="lvldot" [style.left.%]="calculateLeftPosition(gamma)"></div>
        <div id="hcenter-mark-before"></div>
        <div id="hcenter-mark-after"></div>
      </div>

      <div id="vertlevel">
        <div id="lvldot" [style.top.%]="calculateTopPosition(beta)"></div>
        <div id="vcenter-mark-before"></div>
        <div id="vcenter-mark-after"></div>
      </div>
    </div>
  </div>
</ion-content>
