#calculator-container{
    margin:20px auto;
    width: 90%;
    min-height: 300px;
    box-shadow: 0px 0px 5px 2px rgba(0,0,0,0.5);
    padding-top: 10px;
    #inputs{
        width: 90%;
        margin: 10px auto 0px;
        border:1px solid black;
 
    }
}