<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons>
      <ion-menu-button></ion-menu-button>
      <ion-title>calculdaora</ion-title>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">calculadora</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="calculator-container">

    <div id="inputs">

<ion-input>hola</ion-input>
<ion-input>adios</ion-input>
    </div>


  </div>
</ion-content>
