#btn{

position:fixed;
bottom:0px;
right:0px;

border:1px solid violet;
width:100vw;
height:105px;

.circle-btn {
    width: 65px;
    height: 65px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
    border: none;
    background-color: #007bff;
    color: #fff;
    box-shadow: none;
    position:absolute;
    bottom:20px;
    right:20px;
    font-size: 35px;
    }
}